<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Hometown</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <span class="notice"></span>

<% @users.each do |user| %>
  <tr>
    <% unless current_user.is?(user) %>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.hometown %></td>
      <% if current_user.friendship_for(user).nil? %>
        <td><%= link_to 'Add friend', add_friend_path(:user => user) %></td>
      <% elsif current_user.friendship_for(user).status == "pending" %>
        <td><%= link_to 'Accept',
          friend_path(:user => user, :accept => true),
          :remote => true %></td>
        <td><%= link_to 'Deny',
          friend_path(:user => user, :accept => false),
          :remote => true %></td>
      <% elsif current_user.friendship_for(user).status == "accepted" %>
        <td><%= link_to 'Show', user %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<br />
